@font-face {
	font-family: "Poppins";
	font-weight: 400;
	src: url("../fonts/poppins-regular.ttf") format("TrueType");
}

@font-face {
	font-family: "Poppins";
	font-weight: 500;
	src: url("../fonts/poppins-medium.ttf") format("TrueType");
}

@font-face {
	font-family: "Poppins";
	font-weight: 600;
	src: url("../fonts/poppins-semibold.ttf") format("TrueType");
}

@font-face {
	font-family: "Poppins";
	font-weight: 700;
	src: url("../fonts/poppins-bold.ttf") format("TrueType");
}
